body {
  font-family: sans-serif;
}
.invoice {
  width: 700px !important;
  margin: 0 auto !important;
  font-size: 14px !important;
  padding: 10px !important;
  padding-bottom: 520px !important;
}

.header {
  min-height: 110px !important;
  background-color: #414143 !important;
  color: #ccc !important;
  padding-top: 30px !important;
  /* background-image: linear-gradient(to right, #f12711, #f44d03, #f56800, #f67f00, #f69400, #e9881b, #da7d28, #cb7330, #9f4f34, #6c322e, #381c20, #000000) !important; */
}

.header strong {
  color: #fff !important;
}

.mid_header {
  min-height: 137px !important;
  padding-top: 70px !important;
}

.invoice_word {
  letter-spacing: 6px !important;
  font-size: 42px !important;
  color:#000 !important;
  font-weight: bold !important;
  padding-left: 50px !important;
}

.customer_name {
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-size: 16px !important;
  letter-spacing: 2px !important;
  color:#000 !important;
}

.color_theme {
  color: #000 !important;
}

.invoice_number {
  color: #000 !important;
  letter-spacing: 2px !important;
  font-size: 16px !important;
  padding-left: 50px !important;
}

.invoice_to {
  font-size: 12px !important;
  font-weight: bold !important;
}

.base_color {
  color: #000 !important;
}

.item_list_header {
  background-color: #000 !important;
  min-height: 30px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  color: #fff !important;
  font-size: 16px !important;
  /* background-image: linear-gradient(to right, #f12711, #f44d03, #f56800, #f67f00, #f69400, #e9881b, #da7d28, #cb7330, #9f4f34, #6c322e, #381c20, #000000) !important; */
}

.item_table td {
  color: #000 !important;
  font-size: 13px !important;
}

.item_table td.dark {
  color: #000 !important;
}

.grand_total_heading {
  font-size: 18px !important;
  color: #fff !important;
}

.grand_total_value {
  font-size: 18px !important;
  color: #fff !important;
  letter-spacing: 2px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
}

.invoice-col {
  margin-left: 15px !important;
  font-size: 12px !important;
  width: 100% !important;
}

.totals-col hr {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.text_amount_row {
  margin-top: 10px !important;
}

.text_amount_row span,
.text_amount_row div {
  letter-spacing: 0px !important;
  font-size: 12px !important;
}

.seller_info div {
  font-size: 12px !important;
}

.seller_info span {
  font-family: sans-serif !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;
}

.t_c div {
  font-size: 12px !important;
}

.bottom {
  margin-bottom: 40px !important;
  width: 680px !important;
  padding: 10px !important;
  bottom: 0 !important;
  position: absolute !important;
}

.signature {
  margin-top:60px !important;
  float: right !important;
  font-weight:bold !important;
}

.grand_total_row {
  background-color: #000 !important;
  color:#fff !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.signature_wrapper {
  margin-top: 10px !important;
}

.seller_name {
  font-size: 15px !important;
  margin-top:10px !important;
  font-weight:bold !important;
}

.print-btns {
  display: none !important;
}

.invoice-type{
  position: absolute !important;
  right: 24px !important;
  top: 30px !important;
  color: #464646!important;
  font-weight: bold !important;
}

.total_heading {
  font-weight: bold !important;
}

.signature_border{
  border: 1px solid #000 !important;
  display: flow-root  !important;
  padding: 0px 10px  !important;
}




*,
:after,
:before {
  color: inherit !important;
  text-shadow: none !important;
  background: 0 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.table td,
.table th {
  background-color: inherit !important;
}


html, body {
  height: 100% !important;
}
.page-wrap {
  min-height: 100% !important;
  /* equal to footer height */
  margin-bottom: -495px !important;
}
.page-wrap:after {
  content: "" !important;
  display: block !important;
}
.site-footer, .page-wrap:after {
  height: 495px !important;
  margin-top: 25px !important;
}

.wrapper {
  height: auto !important;
}